.letter {
    display: inline-block;

    animation: reveal 0.5s cubic-bezier(0.45, 0, 0.55, 1);
    animation-fill-mode: both;
    animation-delay: calc(var(--index) * 0.03s);
}

@keyframes reveal {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}